<!DOCTYPE html>
<html>

<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>商家审核</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- 引入angular的js -->
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
	<!-- 引入分页相关的JS和CSS -->
	<script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">

	<script type="text/javascript" src="../js/base_pagination.js"></script>
	<script type="text/javascript" src="../js/controller/baseController.js"></script>
	<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
	<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
	<script type="text/javascript" src="../js/echarS.js"></script>
	<script type="text/javascript" src="../js/controller/orderController.js"></script>
	<script type="text/javascript" src="../js/service/orderService.js"></script>
</head>

<body ng-app="pinyougou"  ng-controller="sexChart"  ng-init="findSellerList()">
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">销售额统计</h3>
	</div>

	<div class="box-body">
	</div>
		<!-- 数据表格 -->
</div>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div  style="height:400px">

	<div style="height:1400px" ng-controller="sexChart">
		<sexbar id="sexBarcharts" legend="legend"  data="data"></sexbar>
		<div class="table-box">

			<!--工具栏-->
			<div class="modal-body">
				<td>选择商家</td>
				<table class="table table-bordered table-striped"  width="300px">
					<td>
						<select class="form-control" ng-model="item.sellerId" ng-options="item.sellerId as item.nickName for item in sellerList"></select>
					</td>
				</table>
				<div class="box-tools pull-right">
					<div class="has-feedback">
						<button class="btn btn-default" ng-click="reloadList()">今天</button>
						<button class="btn btn-default" ng-click="reloadList()">昨天</button>
						<button class="btn btn-default" ng-click="reloadList()">近七天</button>
						<button class="btn btn-default" ng-click="reloadList()">近30天</button>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>

</body>

</html>